@model Library_Project.Models.SubCategoryVIewModel

@{
    ViewBag.Title = "Details";
}

<h2>पुरा विवरण</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("सम्पादन ", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("पछाडी जानुहोस ", "getallrecords")
</p>
