@model IEnumerable<Library_Project.Models.DocumentTypeViewModel>

@{
    ViewBag.Title = "GetAllRecords";
}

<p>
    @Html.ActionLink("नया थप्नुहोस ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <i class='fas fa-pencil-alt'></i> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "action - link" }) |
            <i class='fas fa-info-circle'></i> @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "action-link" }) |
            <i class='fas fa-trash'></i> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "action-link" }) |

        </td>
    </tr>
}

</table>
